%div{class: "form-group #{object.errors[field_name].any? && "has-error"}"}
  -field_type = defined?(as) && as.present? ? as : :text
  %label.control-label{for: field_name}="#{field_name.capitalize}:"
  %input{type: field_type, name: field_name, class: "form-control", placeholder:"Enter #{field_name}", value: object.send(field_name)}
  %span.help-block
    = object.errors[field_name].join(', ') if object.errors.any?