!!!
%html
  %head
    %title My Sinatra Website
    %link(rel="stylesheet" href="/assets/app.css")
    %script(src="/assets/app.js")
  %body
    %nav.navbar.navbar-default.bg-faded
      .nav.navbar-nav
        %a.nav-item.nav-link.active{:href => "#"}
          Home
          %span.sr-only (current)
        %a.nav-item.nav-link{:href => "#"} Features
        %a.nav-item.nav-link{:href => "#"} Pricing
        %a.nav-item.nav-link{:href => "#"} About
    =yield
