!!!
%html
  %head
    %meta{ :content => "text/html; charset=utf-8", :"http-equiv" => "Content-Type" }
    %title Please confirm your registration
  %body
    %h1 Please Confirm your Registration
    %p Welcome to our site. Click the link below to complete your registration.
    %a{href: "http://localhost:4567/users/confirm/#{confirm_token}"} Confirm