!!!
%html
  %head
    %meta{ :content => "text/html; charset=utf-8", :"http-equiv" => "Content-Type" }
    %title Please reset your password
  %body
    %h1 Reset your password
    %p Click the link below to reset your password.
    %a{href: "http://localhost:4567/users/reset_password/#{@token}"} Reset