-unless current_user
  .panel.panel-default
    .panel-heading
      %h3.panel-title Sign In
    .panel-body
      %form{ action: '/sessions', :method => "post"}
        %fieldset.form-group
          %label{:for => "name"} Email:
          %input{:type => "text", :name => "email", :class => "form-control", value: @email}
          %label{:for => "password"} Password:
          %input{:type => "password", :name => "password", :class => "form-control password"}
        .row
          .col-md-3
            %input.btn.btn-block.btn-primary{:type => "submit", :value => "Sign in"}
          .col-md-3
            %a.btn.btn-block.btn-default{href: "/users/new"} Sign Up
        %hr
        .row
          .col-md-3
            %a.btn.btn-block.btn-social.btn-twitter{href: "/auth/twitter"}
              %span.fa.fa-twitter
              Sign in with Twitter
          .col-md-3
            %a.btn.btn-block.btn-social.btn-facebook{href: "/auth/facebook"}
              %span.fa.fa-facebook
              Sign in with Facebook
          .col-md-3
            %a.btn.btn-block.btn-social.btn-pinterest{href: "/auth/pinterest"}
              %span.fa.fa-pinterest
              Sign in with Pinterest
          .col-md-3
            %a.btn.btn-block.btn-social.btn-google{href: "/auth/google_oauth2"}
              %span.fa.fa-google
              Sign in with Google
