.panel.panel-default
  .panel-heading
    %h3.panel-title Delete User
  .panel-body
    Are you sure you want to delete User: #{@user.email}
    %p
    %form{action: "/users/#{@user.id}", method: "post"}
      %input{name: "_method", type: "hidden", value: "DELETE"}
      %input.btn.btn-primary{type: "submit", value:"Delete"}
