!!!
%html
  %head
    %title Sinatra App
    -# %link{:rel => 'stylesheet', :type => 'text/css', :href => '/stylesheets/styles.css'}
  %body
    %table
      %tr
        %th Users
        %th Actions
      -@users.each do |user|
        %tr
          %td
            %a{href: "/users/#{user.id}/edit"}= user.email
          %td
            %a{href: "/users/#{user.id}/edit"} Edit
            %form{ :action => "/users/#{user.id}", :method => "post"}
              %input{:name => "_method", :type => "hidden", :value => "DELETE"}
              %input{type: "submit", value:"Delete"}


    %a{:href => '/users/new'} New User
