%form{ action: "/users", method: "post"}
  %fieldset.form-group
    %label{for: "name"} Email:
    %input{type: "email", name: "email", class: "form-control", placeholder:"Enter email"}
  %input{type: "submit", value: "Send", class: "btn btn-primary"}
