%form{ action: "/users", method: "post"}
  %fieldset
    %ol
      %li
        %label{for: "name"} Email:
        %input{type: "text", name: "email", class: "text"}
    %input{type: "submit", value: "Send", class: "button"}
