-if @user
  .panel.panel-default
    .panel-heading
      .panel-title
        .fa.fa-file-o.title-text= " New Password"
    .panel-body
      %form{action: "", method: "post"}
        = input :password, object: @user, as: :password
        %input{type: "submit", value: "Save", class: "btn btn-primary"}